

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^stats$ controllers/manage.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^stats$ controllers/manage.php?action=create

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^stats/([0-9]+)$ controllers/manage.php?action=update&id=$1

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteRule ^stats/([0-9]+)$ controllers/manage.php?action=delete&id=$1
